<section class="container-fluid">
  <div class="row">
    <article
      *ngFor="let house of arrHouses | async"
      class="col-12 col-md-6 col-lg-4"
    >
      <!-- {{house | json}} -->
      <app-card-house [house]="house"></app-card-house>
    </article>
  </div>
  <div class="row">
    <agm-map
      [fitBounds]="true"
      [latitude]="latitud"
      [longitude]="longitud"
      [zoom]="10"
      (mapRightClick)="onRightClick($event)"
    >
      <agm-marker
        [agmFitBounds]="true"
        [latitude]="latitud"
        [longitude]="longitud"
        [iconUrl]="$any({url: 'https://lh3.googleusercontent.com/proxy/5UNrrnpwNNxH_o0-bfPVO92MDRjEp4hHr0fh7wdiFyZG9pyRQ8ffsNXD7ataxAPHGRN-YWq-TM_7fYPwxuKuuJ5ne8cIJpUygsrTgGbEeSf_Yw0Wv1Egb97CUw_usYPYQlq36nJhyqUfDbGdC-44Ot9kD7zMmuU_K1jWVetyXpzW9eKRRD2mpDYH', scaledSize: { width: 40, height: 40}})"
      ></agm-marker>
      <agm-marker
        [agmFitBounds]="true"
        [latitude]="house?.lat"
        [longitude]="house?.long"
        [iconUrl]="$any({url: 'https://lh3.googleusercontent.com/proxy/5UNrrnpwNNxH_o0-bfPVO92MDRjEp4hHr0fh7wdiFyZG9pyRQ8ffsNXD7ataxAPHGRN-YWq-TM_7fYPwxuKuuJ5ne8cIJpUygsrTgGbEeSf_Yw0Wv1Egb97CUw_usYPYQlq36nJhyqUfDbGdC-44Ot9kD7zMmuU_K1jWVetyXpzW9eKRRD2mpDYH', scaledSize: { width: 40, height: 40}})"
        *ngFor="let house of arrHouses | async"
      >
        <agm-info-window>
          <h6 class="tituloMarket">{{house?.titulo}}</h6>
          <img class="thumb" [src]="house?.foto" [alt]="house?.titulo">
            <button class="btn btn-danger btn-sm m-2" [routerLink]="['/house', house?.id]">Ver</button>
          <hr>
          <small>Propietario: {{house?.propietario}}</small>
        </agm-info-window>

      </agm-marker>
    </agm-map>
  </div>
</section>
