.contenedorImg {
  overflow: hidden;
}

.image {
  transition: 1s;
  background-position: center center;
  height: 100%;
  background-size: cover;
}

.image:hover {
  transform: rotateZ(3deg) scale(1.1);
}

.disponible {
  border: 1px solid green;
  background-color: green;
  padding: 2px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.no_disponible {
  border: 1px solid #cf0404;
  background-color: #cf0404;
  padding: 2px;
  border-radius: 5px;
  color: white;
  text-align: center;
}
