<div class="card mb-3">
  <div class="row g-0">
    <div class="contenedorImg col-md-4">
      <div
        class="image"
        [ngStyle]="{
          'background-image': 'url(' + house?.foto + ')',
          'background-size': 'cover',
          height: '100%',
          'background-position': 'center center'
        }"
      ></div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ house?.titulo }}</h5>
          <button class="btn btn-secondary btn-sm mb-2" [routerLink]="['/house', house?.id]">Ver detalle</button>
          <button class="btn btn-danger btn-sm ms-2 mb-2" (click)="onDelete(house?.id)">Borrar</button>
          <button class="btn btn-primary btn-sm ms-2 mb-2" [routerLink]="['/update', house?.id]">Actualizar</button>
        <p class="card-text" [ngClass]="{disponible: house?.disponibilidad === true, no_disponible: house?.disponibilidad === false}">{{ house?.disponibilidad ? "disponible" : "no disponible" }}</p>
      </div>
    </div>
  </div>
</div>
