<section class="container">
  <form #casa="ngForm" (ngSubmit)="onSubmit(casa)">

    <div class="formGroup">
      <label for="titulo">Titulo</label>
      <input type="text" class="form-control" [(ngModel)]="houseUpdated.titulo" name="titulo" id="titulo">
    </div>

    <div class="formGroup">
      <label for="direccion">Dirección</label>
      <input type="text" class="form-control" [(ngModel)]="houseUpdated.direccion" name="direccion">
    </div>

    <div class="formGroup">
      <label for="ciudad">Ciudad</label>
      <select name="ciudad" [(ngModel)]="houseUpdated.ciudad" id="ciudad" class="form-control mt-3">
        <option value="" selected>Selecciona una ciudad</option>
        <option value="Madrid">Madrid</option>
        <option value="Valencia">Valencia</option>
        <option value="Granada">Granada</option>
        <option value="Barcelona">Barcelona</option>
        <option value="Coruña">Coruña</option>
        <option value="Sevilla">Sevilla</option>
        <option value="Valladolid">Valladolid</option>
      </select>
    </div>


    <div class="formGroup">
      <label for="numerohabitaciones">Numero de habitaciones</label>
      <input type="number" class="form-control" [(ngModel)]="houseUpdated.numerohabitaciones" name="numerohabitaciones" id="numerohabitaciones">
    </div>


    <div class="formGroup">
      <label for="propietario">Propietario</label>
      <input type="text" class="form-control" [(ngModel)]="houseUpdated.propietario" name="propietario" id="propietario">
    </div>

    <div class="formGroup">
      <label for="foto">Fotografía</label>
      <input type="text" class="form-control" [(ngModel)]="houseUpdated.foto" name="foto" id="foto">
      <!-- <input type="file" NgModel name="foto" id="foto" ngModel> -->
    </div>

    <div class="row mb-4">
      <div class="formGroup col-6">
        <label for="lat">Latitud</label>
        <input type="number" class="form-control" [(ngModel)]="houseUpdated.lat" name="lat" id="lat">
      </div>
      <div class="formGroup col-6">
        <label for="lat">Longitud</label>
        <input type="number" class="form-control" [(ngModel)]="houseUpdated.long" name="long" id="long">
      </div>

    </div>

    <input class="btn btn-primary" type="submit" value="Alquilar">
  </form>
</section>


