agm-map {
  width: 100%;
  height: 100%;
}

.disponible {
  border: 1px solid green;
  background-color: green;
  padding: 2px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.no_disponible {
  border: 1px solid #cf0404;
  background-color: #cf0404;
  padding: 2px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

li {
  list-style: none;
}
