<div *ngIf="myHouse?.titulo" class="container">
  <div class="card mb-3 shadow ">
    <div class="row g-0">
      <div class="col-md-6" id="mapa">
        <agm-map [latitude]="myHouse?.lat!" [longitude]="myHouse?.long!" [zoom]="12" [mapTypeId]="'terrain'">
          <agm-marker [latitude]="myHouse?.lat!" [longitude]="myHouse?.long!"></agm-marker>
        </agm-map>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <figure>
            <img class="img-fluid" [src]="myHouse?.foto">
          </figure>
          <h3 class="card-title">{{myHouse?.titulo}} </h3>
          <p class="card-text"><strong>Dirección: {{myHouse?.direccion}} </strong></p>
          <p class="card-text"><strong>Ciudad: {{myHouse?.ciudad}} </strong></p>
          <p class="card-text"><strong>Número de habitaciones: {{myHouse?.numeroHabitaciones}}</strong></p>
          <p class="card-text"><small class="text-muted">Propietario: {{myHouse?.propietario}}</small></p>
          <p
          class="text-card"
          [ngClass]="{
            disponible: myHouse?.disponibilidad === true,
            no_disponible: myHouse?.disponibilidad === false
          }"
        >
          {{ myHouse?.disponibilidad ? "disponible" : "no disponible" }}
        </p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!myHouse?.titulo">
    <h1>La casa seleccionada no existe</h1>
  </div>
</div>
